/* ================================
   FIXES
================================ */

/* Fix flickering on mode change */
.js-plotly-plot > .plot-container,
.js-plotly-plot .svg-container {
    background-color: transparent !important;
    height: 100% !important;
    min-height: 0 !important;
}

.js-plotly-plot svg.main-svg {
    height: 100% !important;
    min-height: 0 !important;
}