/* ================================
   FIXES
================================ */

/* Fix flickering on mode change */
.js-plotly-plot > .plot-container,
.js-plotly-plot .svg-container {
    background-color: transparent !important;
    height: 100% !important;
    min-height: 0 !important;
}

.js-plotly-plot .main-svg {
    height: 100% !important;
    min-height: 0 !important;
}

/* Hide modebar initially */
.graph-card .js-plotly-plot .modebar {
    opacity: 0 !important;
    pointer-events: none; /* Prevents clicks as long as modebar is invisible */
    transition: opacity 0.2s ease-in-out;
}

.graph-card.with-bar-chart .js-plotly-plot .modebar {
    top: 32px !important;
    right: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    opacity: 0 !important;
    pointer-events: none; /* Prevents clicks as long as modebar is invisible */
    transition: opacity 0.2s ease-in-out;
}

/* Merchant Group Distribution */
.graph-card.with-bar-chart.lower-modebar .js-plotly-plot .modebar {
    top: -6px !important;
}

/* When hovering over diagram show modebar */
.graph-card .js-plotly-plot:hover .modebar {
    opacity: 1 !important;
    pointer-events: auto;
}

/* Remove modebar background */
.graph-card .js-plotly-plot .modebar-group {
    background-color: var(--kpi-card-body-bg) !important;
}

/* Remove gray area around buttons */
.graph-card .js-plotly-plot .modebar-btn {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

/* Filter icon */
.graph-card .js-plotly-plot .modebar-btn .icon {
    opacity: 1 !important;
    filter: var(--modebar-icon-filter) !important;
    height: 22px !important;
    width: 22px !important;
    font-size: 22px !important;
    max-width: 22px !important;
    max-height: 22px !important;
}

/* No hover background */
.graph-card .js-plotly-plot .modebar-btn:hover {
    background-color: transparent !important;
}

/* Search Bar remove up and down arrow */
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.no-spinner {
    -moz-appearance: textfield;
}