.search-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #fff;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}

.custom-search-input {
    padding-right: 28px;
}
.clear-btn {
    position: absolute;
    right: 4px;
    top: 3px;
    border: none;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    z-index: 10;
    color: #888;
}
.clear-btn:hover {
    color: #d00;
}
