/* ==========================================================================
   Variables
   ========================================================================== */

:root {
    /* — Light Mode — */
    --bg-page: #f7f9fb;
    --text-main: #222c3a;
    --card-bg: #fff;
    --blue-main: #2563eb;

    /* Icon-Filter trick */
    --icon-filter: invert(13%) sepia(44%) saturate(449%) hue-rotate(176deg) brightness(95%) contrast(91%);

    /* Card Shadows */
    --card-shadow-1: 0 1px 3px rgba(20, 50, 120, 0.06);
    --card-shadow-2: 0 4px 8px rgba(20, 50, 120, 0.04);
    --card-shadow-hover-1: 0 4px 8px rgba(20, 50, 120, 0.09);
    --card-shadow-hover-2: 0 8px 16px rgba(20, 50, 120, 0.07);

    /* Offcanvas Settings */
    --offcanvas-settings-shadow: 0 -4px 20px rgba(20, 50, 120, 0.07);
    --offcanvas-backdrop: rgba(40, 50, 90, 0.09);
    --offcanvas-bg: rgba(250, 251, 253, 0.98);

    /* Layout */
    --gutter: 0.75rem;
    --outer-border-radius: 15px;
    --inner-border-radius: 11px;
    --bugfix-border-radius: calc(var(--outer-border-radius) + 4px);

    /* Tab */
    --tab-text: #5e6a7d;
    --tab-text-hover: #fff;
    --tab-text-active: #fff;
    --tab-background-active: var(--blue-main);
    --tab-background-inactive-hover: #316cf4;
    --tab-background-active-hover: #1744b3;
    --tab-underline-color: #c2d1e7;
    --tab-underline-color-hover: #8fb2e6;
    --tab-underline-color-active: #2563eb;

    /* Table */
    --table-bg-even: #f5f7fa;
    --table-bg-odd: #ffffff;
    --table-border-color: #dde3ec;
    --table-header-text-color: #213148;
    --table-scrollbar-thumb-color: #b7c3d8;
    --table-button-radius: 7px;

    /* Dropdown */
    --dropdown-body-color: #233045;
    --dropdown-body-bg: #f9f9f9;
    --dropdown-border-color: rgba(0, 0, 0, 0.175);
    --dropdown-border-radius: 12px;

    /* Spinner */
    --spinner-bg: rgba(20, 50, 120, 0.12);

    /* Tab KPI Cards */
    --kpi-card-header-bg: #f3f7fa;
    --kpi-card-splitline: rgba(0, 0, 0, 0.175);
    --kpi-card-body-bg: #fff;
    --kpi-graph-card-outline: 1px solid var(--kpi-card-splitline);


    /* Settings Button Text */
    --settings-button-text-border: 1px solid var(--text-main);
    --settings-button-text-bg-hover: #f3f7fa;

    /* Etc. */
    --kpi-number-value: #259d60;
    --modebar-icon-filter: brightness(0%);
}

.dark-mode {
    /* — Dark Mode — */
    --bg-page: #181a1b;
    --text-main: #e0e6ed;
    --card-bg: #20232a;

    /* Icon-Filter trick */
    --icon-filter: invert(98%) sepia(1%) saturate(3212%) hue-rotate(180deg) brightness(92%) contrast(101%);

    /* Card Shadows */
    --card-shadow-1: 0 1px 4px rgba(0, 31, 63, 0.10);
    --card-shadow-2: 0 4px 12px rgba(0, 31, 63, 0.06);
    --card-shadow-hover-1: 0 4px 8px rgba(0, 40, 80, 0.15);
    --card-shadow-hover-2: 0 8px 16px rgba(0, 31, 63, 0.08);

    /* Offcanvas Settings */
    --offcanvas-settings-shadow: 0 -4px 20px rgba(20, 28, 46, 0.14);
    --offcanvas-backdrop: rgba(24, 26, 27, 0.75);
    --offcanvas-bg: rgba(35, 39, 43, 0.98);

    /* Tab */
    --tab-text: #b2b8c3;
    --tab-text-hover: #e0e6ed;
    --tab-text-active: #f1f3f5;
    --tab-background-active: #246bfd;
    --tab-background-inactive-hover: #2e8fff;
    --tab-background-active-hover: #1a54c8;
    --tab-underline-color: #415a77;
    --tab-underline-color-hover: #5876a3;
    --tab-underline-color-active: #91b9f4;

    /* Table */
    --table-bg-even: #22272b;
    --table-bg-odd: #23272b;
    --table-border-color: #334155;
    --table-header-text-color: #dbeafe;
    --table-scrollbar-thumb-color: #425a6d;

    /* Dropdown */
    --dropdown-body-bg: #23272b;
    --dropdown-body-color: #e0e6ed;
    --dropdown-border-color: #334155;
    --dropdown-secondary-bg: #242a36;
    --dropdown-primary: #246bfd;

    /* Spinner */
    --spinner-bg: rgba(36, 107, 253, 0.17);

    /* Tab KPI Cards */
    --kpi-card-header-bg: #1b1b22;
    --kpi-card-splitline: #333333;
    --kpi-card-body-bg: #1e1f24;
    --kpi-graph-card-outline: 1px solid var(--kpi-card-splitline);

    /* Settings Button Text */
    --settings-button-text-border: 1px solid var(--text-main);
    --settings-button-text-bg-hover: #1e2226;

    /* Etc. */
    --kpi-number-value: #81C784;
    --modebar-icon-filter: brightness(900%);
}
